{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Panel de Administración - Banco{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <link href="{% static 'css/admin.css' %}" rel="stylesheet"> <!-- Agregar estilos específicos -->
</head>
<body>
    <header>
        <h1>Panel de Administración del Banco</h1>
        <nav>
            <ul>
                <li><a href="{% url 'blog:client_list' %}">Clientes</a></li>
                <li><a href="{% url 'blog:get_card_info' %}">Cuentas</a></li>
                <li><a >Transacciones</a></li>
                <li><a >Reportes</a></li>
                <li><a >Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <div id="content">
        {% block content %}
        <h2>Bienvenido, [Cristian]</h2>
        <p>Seleccione una opción del menú para comenzar.</p>
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Banco XYZ. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
