{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Panel de Administración - Banco{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <link href="{% static 'css/admin.css' %}" rel="stylesheet"> <!-- Agregar estilos específicos -->
</head>
<body>
    <header>
        <div class="top-menu">
            <ul>
                <li><a href="#">Asesores</a></li>
                <li><a href="#">Negocios</a></li>
                <li><a href="#">PQR</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
    
        <div class="header-container">
            <div class="logo">
                <img src="tu-logo.png" alt="Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="client/client_list.html">clientes</a></li>
                    <li><a href="card_info.html">Informacion de cuentas</a></li>
                    <li><a href="#">Educación Financiera</a>
                        <ul class="submenu">
                            <li><a href="#">Submenú 1</a></li>
                            <li><a href="#">Submenú 2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Trámites digitales</a></li>
                </ul>
            </nav>
            <button class="cta-button">Entrar</button>
        </div>
    </header>
    

    <div id="content">
        {% block content %}
        <h2>Bienvenido, [Cristian]</h2>
        <p>Seleccione una opción del menú para comenzar.</p>
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Banco XYZ. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
