{% extends 'base.html' %}

{% block title %}Negocios - Banco El Dorado{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Negocios y Emprendimientos</h2>
    <p>El Banco El Dorado no solo está aquí para gestionar tus finanzas, también es un socio en el crecimiento de tu negocio. Conoce nuestros nuevos emprendimientos y asociaciones estratégicas.</p>

    <h3>Nuevos Emprendimientos</h3>
    <ul>
        <li><strong>DoradoTech:</strong> Innovación en soluciones tecnológicas para pequeñas y medianas empresas.</li>
        <li><strong>EcoFuturo:</strong> Iniciativa para financiar proyectos ecológicos que contribuyan a la sostenibilidad ambiental.</li>
        <li><strong>Comercio Global:</strong> Plataforma de comercio electrónico que ayuda a nuestros clientes a expandir sus negocios a nivel internacional.</li>
    </ul>

    <p>Para conocer más sobre nuestras soluciones para emprendedores, visita nuestra sección de <a href="#">Negocios</a>.</p>
</div>
{% endblock %}