body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #4CAF50; /* Color verde para el encabezado */
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav {
    margin: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

#content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background: #4CAF50; /* Color verde para el pie de página */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
