body {
    font-family: 'Arial', sans-serif;
}

.logo {
    height: 50px;
}

.carousel-item {
    height: 400px;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
}

.card {
    margin-bottom: 30px;
}

