.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #f39c12; /* Color destacado */
    margin-bottom: 20px;
}

h3 {
    color: #333;
    margin-top: 15px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #f39c12; /* Color de hover */
    color: #fff;
}
